<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>INDEX PAGE</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <H2>INDEX PAGE</H2>

    <!-- 로그인이 되었다면, [ USER PAGE ] [ ADMIN PAGE ] 출력-->
    <div sec:authorize="isAuthenticated()">
        <a href="/user.html">USER PAGE</a>
        <a href="/admin.html">ADMIN PAGE</a>
        <form th:action="@{/account/sign-out}" method="POST">
            <button type="submit">SIGN OUT</button>
        </form>
    </div>

</body>
</html>